/***** Customized Styles by David Olivan *****/

.gameIcon {
	max-height: 350px;
	max-width: 350px;
}

.jumbotron {
	max-width: 75%;
}

.mainBody {
	max-width: 75%;
}

.page-header {
	color: white;
	background-color: #2c3e50;
	margin-top: 0px;
	padding-top: 0px;
	min-height: 100px;
	max-height: 120px;
}
.verticalAlign {
	padding-top: 30px;
}

.divisionLine {
	max-width: 75%;
	border-color: #2c3e50;
}
h1 {
	margin-top: 0px;
	padding-top: 0px;
}

body {	
	background-color: #bdc3c7;
	padding-top: 0px;
	margin-top: 0px; 
	font-family: 'Work Sans', sans-serif;
}

a:hover {
	border-width: 4px;
}

@media (max-width: 768px) {
	.jumbotron {
	max-width: 95%;
	}

	.mainBody {
		max-width: 95%;
	}
}